<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./podraz.css">
	<title>Главная страинца</title>
</head>
<body>
	<div class="header">
		<div class="nav">
			<div class="logo">
				<p>Телефонный узел связи ТОМСК</p>
			</div>

			<div class="link">
				<a href="#">Помещение</a>
				<a href="#">Подразделение</a>
				<a href="#">LOGOUT</a>
				<a href="#">PROFILE</a>
		 </div>
		</div>
	</div>

	<div class="center">
		<div class="blocks">
			<div class="podraz">
				<p>Подразделение</p> 
			</div>
			<div class="create">
				<p>Создать</p> 
			</div>
		</div>
		<div class="block"></div>
	</div>
</body>
</html>